:root{
  --section-overlay: rgba(0,0,0,0.7);
  --background-overlay: rgba(0, 0, 0, 0.2);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}
.app{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
}
.container{
  max-width: 800px;
  margin: auto;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}

.section{
  width: 100%;
  color: white;
  padding: 1rem;
  border-radius: 0.7rem;
}

.section-temp, .section-input{
  background-color: var(--section-overlay);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-input input{
  border: 1px solid white;
  background: transparent;
  padding: 0.4rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.section-input input:focus{
  outline: none;
}

.section-input button{
  padding: 3px 50px;
  border: none;
  border-radius: 0.4rem;
  font-weight: 900;
  font-size: 19px;
}
.section-input button:hover{
  cursor: pointer;
  background-color: #fd1515;
  color: white;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon h2{
  font-size: 25px;
  font-weight: 200;
  text-transform: capitalize;
}
.icon h3{
  font-weight: 200;
  font-size: 20px;
  text-transform: capitalize;
}

.temperature{
  font-size: 30px;
}

@media screen and (max-width: 397px) {
  .section-input input{
    font-size: 13px;
  }
  .section-input button{
    /* padding: 10px 30px; */
    padding: 3px 15px;
  }
}
@media screen and (max-width: 352px) {
  .section-input button{
    /* padding: 10px 19px; */
    padding: 3px 15px;
  }
}
@media screen and (max-width: 327px){
  
  .section-input button{
  font-size: 13px;
  padding: 9px 15px;
  margin: 0px 9px;

  }
  
}






